/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    /* =========================
     * MACROS
     * ========================= */

    macros {
        /* Move window between virtual desktops */

        rwin: rwin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RC(RIGHT_ARROW))>;
        };

        lwin: lwin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RC(LEFT_ARROW))>;
        };

        Rimku: Rimku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(R)>,
                <&macro_wait_time 65>,
                <&kp EXCL>,
                <&macro_wait_time 20>,
                <&kp M>,
                <&macro_wait_time 74>,
                <&kp K>,
                <&macro_wait_time 24>,
                <&kp U>,
                <&macro_wait_time 20>,
                <&kp N5>,
                <&macro_wait_time 45>,
                <&kp I>,
                <&macro_wait_time 27>,
                <&kp S &kp E>,
                <&macro_wait_time 88>,
                <&kp AT>;

            label = "RIMKU";
        };

        firewall: firewall {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(F)>,
                <&macro_wait_time 20>,
                <&kp EXCL>,
                <&macro_wait_time 20>,
                <&kp R>,
                <&macro_wait_time 65>,
                <&kp E>,
                <&macro_wait_time 27>,
                <&kp W>,
                <&macro_wait_time 24>,
                <&kp AT>,
                <&macro_wait_time 74>,
                <&kp L &kp L>,
                <&macro_wait_time 45>,
                <&kp AT_SIGN>;

            label = "FIREWALL";
        };

        template: warning {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 20>,
                <&macro_wait_time 65>,
                <&macro_wait_time 20>,
                <&macro_wait_time 27>,
                <&macro_wait_time 24>,
                <&macro_wait_time 74>,
                <&macro_wait_time 45>,
                <&macro_wait_time 88>;

            label = "WARNING";
        };

        /* Office / Corporate Apps (Taskbar pinned) */
    };

    combos {
        compatible = "zmk,combos";

        gaming {
            bindings = <&tog 3>;
            key-positions = <34 35 33>;
            layers = <0>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            layers = <0>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <4 5>;
            layers = <0>;
        };

        NFILE {
            bindings = <&kp LC(N)>;
            key-positions = <27 28>;
        };

        wl {
            bindings = <&lwin>;
            key-positions = <13 14>;
        };

        wr {
            bindings = <&rwin>;
            key-positions = <15 16>;
        };

        print {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <36 37 38>;
        };

        appswitch {
            bindings = <&kp LA(TAB)>;
            key-positions = <25 26>;
        };

        lt4 {
            bindings = <&tog 4>;
            key-positions = <5 17 29>;
        };

        att {
            bindings = <&kp AT_SIGN>;
            key-positions = <12 14>;
        };

        escla {
            bindings = <&kp EXCLAMATION>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* =========================================================
         * BASE LAYER
         * ========================================================= */

        base {
            bindings = <
&lt 5 ESCAPE    &kp Q         &kp W    &kp E         &kp R      &kp T          &kp Y      &kp U        &kp I       &kp O      &kp P      &kp BACKSPACE
&kp LEFT_SHIFT  &kp A         &kp S    &kp D         &kp F      &kp G          &kp H      &kp J        &kp K       &kp L      &kp SQT    &kp RSHFT
&kp LCTRL       &kp LEFT_ALT  &lt 4 Z  &kp X         &kp C      &kp V          &kp B      &kp N        &kp M       &kp COMMA  &kp SLASH  &kp DELETE
                                       &kp LEFT_GUI  &lt 1 TAB  &lt 2 SPACE    &kp ENTER  &lt 1 COLON  &kp PERIOD
            >;
        };

        sys {
            bindings = <
&kp GRAVE     &kp N1            &kp N2             &kp N3          &kp N4           &kp N5         &kp N6     &kp N7          &kp N8     &kp N9                &kp N0                 &trans
&kp CAPSLOCK  &kp EXCL          &kp AT_SIGN        &kp HASH        &kp DOLLAR       &kp PERCENT    &kp CARET  &kp AMPERSAND   &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE       &kp MINUS  &kp UNDERSCORE  &kp PLUS   &kp EQUAL             &kp NON_US_BACKSLASH   &trans
                                                   &trans          &trans           &kp SPACE      &trans     &kp SEMICOLON   &kp DOT
            >;
        };

        fn {
            bindings = <
&kp F1      &kp F2          &kp F3        &kp F4        &kp F5        &kp F6          &kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&bt BT_CLR  &bt BT_CLR_ALL  &none         &none         &none         &none           &none      &none   &none   &none    &none    &none
&trans      &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none      &none   &none   &none    &none    &none
                                          &none         &none         &kp SPACE       &kp ENTER  &none   &none
            >;
        };

        gaming {
            bindings = <
&kp ESC         &kp Q     &kp W  &kp E      &kp R    &kp T        &kp N1     &kp N2     &kp N3     &kp N4  &kp N5  &kp BACKSPACE
&kp LEFT_SHIFT  &kp A     &kp S  &kp D      &kp F    &kp G        &kp N6     &kp N7     &kp N8     &kp N9  &kp N0  &kp RSHFT
&kp LCTRL       &kp LALT  &kp Z  &kp X      &kp C    &kp V        &kp B      &kp N      &kp M      &kp U   &kp I   &kp DEL
                                 &kp ENTER  &kp TAB  &kp SPACE    &kp ENTER  &kp SPACE  &kp RCTRL
            >;
        };

        arrrow {
            bindings = <
&trans  &none           &kp UP_ARROW    &none            &none  &kp C_VOLUME_UP    &none   &none  &none  &none  &none  &none
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &kp C_VOL_DN       &none   &none  &none  &none  &none  &none
&trans  &none           &none           &none            &none  &none              &none   &none  &none  &none  &none  &none
                                        &none            &none  &trans             &trans  &none  &none
            >;
        };

        macro {
            bindings = <
&none  &none  &none  &none  &Rimku     &none    &none  &none  &none  &none  &email  &none
&none  &none  &none  &none  &firewall  &none    &none  &none  &none  &none  &none   &none
&none  &none  &none  &none  &none      &none    &none  &none  &none  &none  &none   &none
                     &none  &none      &none    &none  &none  &none
            >;
        };

        /* =========================================================
         * HIDDEN / MAINTENANCE LAYER
         * ========================================================= */
    };
};
