#include "corne.dtsi"

/* --------------------
 * Matrix scan (unchanged)
 * -------------------- */
&kscan0 {
    col-gpios = <&pro_micro 2 GPIO_ACTIVE_HIGH>,
                <&pro_micro 7 GPIO_ACTIVE_HIGH>,
                <&pro_micro 8 GPIO_ACTIVE_HIGH>,
                <&pro_micro 5 GPIO_ACTIVE_HIGH>,
                <&pro_micro 4 GPIO_ACTIVE_HIGH>,
                <&pro_micro 3 GPIO_ACTIVE_HIGH>;
};




/* RGB underglow on pin 6 with 6 LEDs */
 / {
    ws2812_underglow: ws2812 {
        compatible = "worldsemi,ws2812-gpio";

        in-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>;

        chain-length = <6>;   /* IMPORTANT: match your LED count */

        color-mapping = <1 0 2>;
    };

    chosen {
        zmk,underglow = &ws2812_underglow;
    };
};